include BlockchainFormation/UserDataScripts/*
include BlockchainFormation/blockchain_specifics/*
include BlockchainFormation/blockchain_specifics/Fabric/chaincode/benchcontract/*
include BlockchainFormation/blockchain_specifics/Fabric/setup/*
include BlockchainFormation/blockchain_specifics/Sawtooth/processor/*
include BlockchainFormation/blockchain_specifics/Quorum/contracts/*
include BlockchainFormation/utils/utils.py